[2013-05-08 13:23] Samsy opened #3 "failed to compile example on windows."
Console error message :

Using makefile: Makefile
Execution of 'make.exe -s -f Makefile Debug' in 'C:\Users\Samuel\Desktop\ofxVideoRecorder-master\ofxVideoRecorderExample' failed.
Nothing to be done.

[2013-05-14 08:46] #3 closed, assigned to nobody

[2013-07-26 09:51] yty opened #4 "ofxVideoRecorder native windows support"
I do not have unistd.h. . .

[2013-08-12 19:37] danzeeeman opened #5 "no video/audio"
Testing this out with the RPI and 0.8.0 release. I'm getting this from the command line.

https://gist.github.com/danthemellowman/6214320

[2014-01-03 20:35] jeffcrouse opened #8 "simultaneous recordings"
I'm trying to record 2 videos at once but it hangs when trying to create the 2nd pipe.  Know of any reason why this might be happening?

[2014-01-03 21:16] #8 closed, assigned to nobody

[2014-01-22 23:34] aferriss opened #10 "Problem creating pipe"
When I call setup I get this message spit back out. I thought maybe it was because I was using 10.6.8, but I upgraded to 10.9 and still no luck. It seems to be one computer of mine in particular that is having this issue, and I've gotten it to work on 10.8 with 0.71 and 0.74. I've also tried with different versions of ffmpeg, neither working. This is what the console returns when I call setup:

[c

[2014-01-23 18:28] #10 closed, assigned to nobody

[2014-05-27 11:52] richardchui opened #11 "Getting stuck with spinning beachball"
I have ffmpeg installed on my Mac.  When I try to close the video, I will get a spinning beachball.  Seems the program is stuck in this loop
    while(frames.size() > 0 && audioFrames.size() > 0) {
        // if there are frames in the queue or the thread is writing, signal them until the work is done.
        videoThread.signal();
        audioThread.signal();
    }

One other thing, the ffmpeg i

[2014-08-10 08:29] ayanoco opened #12 "where is the recorded file?"
1.Where was the file saved ? There are no mov. in the "bin" folder.
2.I would like to save the movie drawn by my project in the file. Is it possible with your ofxVideoRecorder?
Where should I rewrite? Now the FaceTime HD camera has been attached.
Sorry for elementary question. Any help would be appreciated. Thank you.

[2014-10-25 15:33] petergoes opened #13 "Resulting video 2 times to fast"
Hi there,

When using your example code. The recorded video seems 2 times to fast. So if I record a video of a stopwatch for 10 seconds. The resulting video file is around 5 seconds long. If I record 20 seconds, the video file is roughly 10 seconds long.

Any clues on what is going on?

My setup:
Mac OS X,
Xcode 6.1
OpenFrameworks: 0.8.4

[2014-11-13 15:14] dimitre opened #14 "question: how to grab the audio from ofSoundPlayer ?"
I can grab audio I'm synthesizing from audioOut function, but it doesnt record ofSoundPlayer playback. Is there any way of doing that? Thanks

[2014-11-19 16:06] #14 closed, assigned to nobody

[2014-11-19 16:08] #13 closed, assigned to nobody

[2014-11-19 16:11] #12 closed, assigned to nobody

[2014-11-19 16:12] #11 closed, assigned to nobody

[2014-11-19 16:15] #5 closed, assigned to nobody

[2015-02-01 02:19] DomAmato commented on #4
This seems to be an approach to deal with the streaming options, (https://trac.ffmpeg.org/ticket/986) I am taking a stab at it to see if I can get it working on windows 8.1 vs 2012. I changed a few things and am able to get it to compile at least but it crashed when starting a recording.

[2015-04-16 02:09] benjgorman opened #15 "Non continuous video file produced."
Hi I'm attempting to use this to record some openframework output.

I have it producing a video file, but it looks like one of those scrolling sidewalk adverts, the frames scroll upwards instead of proceeding like a normal video. Any idea why?

[warning] ofThread: - name: Thread 4 - Calling startThread with verbose is deprecated.
[warning] ofThread: - name: Thread 2 - Calling startThread with verb

[2015-04-16 03:35] timscaffidi commented on #15
it is hard for me to say exactly without seeing your code, but It looks like you are sending either too much or too little information for each frame. For example you might be sending a 640x480 frame of pixels but the recorder is expecting 1024x768, or vise-versa.

[2015-04-16 10:23] benjgorman commented on #15
I had this at the end of my setup method.

if(!vidRecorder.isInitialized())
{
                   vidRecorder.setup(fileName+ofGetTimestampString()+fileExt, ofGetWidth(), ofGetHeight(), 30); // no audio

}

Now I had the window mode set to fullscreen intitially and that gave me scanlines on the output, so I made it not full screen and I got the frames I already mentioned and then I set it to 640, 4

[2015-04-16 14:08] timscaffidi commented on #15
I would advise against using ofGetWidth/Height with the video recorder as these values can change if you resize the window, and also I don't know that they will have the correct values if called within the setup function, as the window may not have been given its final size yet. Try hardcoding the width and height in both the setup method and within your update method, this should solve your probl

[2015-04-16 18:04] benjgorman commented on #15
Aw man that worked perfectly! Great addon.

How would you do the FBO object?

[2015-05-01 13:56] liquidzym commented on #4
hey,@DomAmato, thanks for the windows update althought it's not fully working yet
my case didn't get crashed instead there were some error output
avdelta = -0.0333333. too many video frames skipping
[fatal] ofThreadErrorLogger ::exception:timeout
any ideas?

[2015-05-01 21:03] timscaffidi commented on #4
Just a wild guess but it sounds like it could be that the audio thread is stalled on an IO wait (which eventually times out), this would also cause the video thread to skip frames. as there is no audio coming in.

[2015-05-01 21:17] DomAmato commented on #4
I will take a look. How quickly did it throw that error? I was doing short recordings of like < 20 seconds and it worked but I think the audio didn't work properly. I'll do some testing this weekend to see if I can replicate the issue

[2015-05-02 07:33] liquidzym commented on #4
from the start actually after pressed the r key, yeah,the audio pipe seems not working at all
\\.\pipe\audiopipe:Invalid argument

thxs for look into it

[2015-05-04 10:50] liquidzym commented on #4
ok,i just noticed i have to change setDevice to 3 enable input recording. this time got audio queue size
but still got avdelta = -0.0029932 \.\pipe\audiopipe:Invalid argument,avdelta = -0.0031746 not enough video frames for desired frame rate.copied this frame 2 times and so on.........

[2015-05-04 14:52] timscaffidi commented on #4
@liquidzym do you have a branch you with your in-progress code anywhere? I could take a look.

[2015-05-04 15:21] liquidzym commented on #4
@timscaffidi,sorry,i haven't put any code on github yet,could you please take a look  DomAmato's brunch basically i'm just using his contribution，but i can upload it later on  tomorrow in case you can help on this
cheers

[2015-05-04 21:25] DomAmato commented on #4
I think the named pipes arent working properly, I will have to update things. Sorry for the inconvenience but yeah I am getting a similar issue with invalid argument. using pipe: works but its considerably slower than using named pipes

[2015-05-05 04:49] DomAmato commented on #4
I pushed a new commit. It fixes things sort of. It can record video or audio but not both. Trying to record both hangs up the pipes (audio will connect video hangs indefinitely). Also spaces in the path name causes a problem but thats actually an easy fix. I just wanted to push an update so that you would have at least something to work with.

[2015-05-05 07:45] liquidzym commented on #4
hey,thxs for the update,the video part its working now, do you think any chance can make audio working? btw, i have to change it back to cmd << ffmpegLocation << " -y "; otherwise causing ffmpegffmppeg trouble in cmd not too sure why.

[2015-05-05 07:59] DomAmato commented on #4
I changed it so that when you change the ffmpeg location it would run the console command for you but I switched it back now. Audio does work too just not with video. You can do one or the other but not both. I am not sure why but it it will only connect to one pipe, if you try to do both it hangs after connecting to one of the pipes. Not sure why this is

[2015-05-05 08:13] liquidzym commented on #4
ok,i see,i added ffmepg to my sys path var maybe that's why. anyway,that's not issue.
really need video&audio working together,yes,i saw the audio connect to one pipe succed
does ffmpeg record the audio via directshow?
much appreciated for the help on this.

[2015-05-05 08:30] DomAmato commented on #4
Ffmpeg doesn't handle the devices in this instance. That is handled by openframeworks and audio is dependent on the system. Mostly likely yes the rtaudio or whatever soundstream library you use will connect to direct show since rtaudio only recently supported wasapi. A solution here might be writing a custom script until the pipe situation gets sorted out. U can use ffmpeg to directly connect to a

[2015-05-05 13:43] liquidzym commented on #4
right,i'll try that thxs,also after googling i found this "ConnectNamedPipe() accepts an inbound connection on a listening named pipe, so that would only work if ffmpeg were calling CreateFile() to connect to the named pipe"
http://stackoverflow.com/questions/28476219/how-to-use-win32-pipe-on-single-application
guess i have to understand basic pipe stuff,shame on me.

thank you again for the help

[2015-05-05 21:46] DomAmato commented on #4
Thats not right. ffmpeg does not have to call createfile() to connect to the pipe.

[2015-05-06 03:12] DomAmato commented on #4
http://trac.ffmpeg.org/ticket/1663 Seems to be a known issue

[2015-05-06 04:34] liquidzym commented on #4
too bad,what you saying is that i can call the setupCustomOutput method with custom script to connect to the audio?

[2015-05-06 05:11] DomAmato commented on #4
if you know what devices you will be using you can connect directly to them using ffmpeg http://www.ffmpeg.org/ffmpeg-devices.html#Input-Devices

the current custom script method needs work and ill expand it to allow for more robust custom scripts

[2015-05-06 14:23] timscaffidi commented on #4
@DomAmato In the issue you linked to they are using mkfifo, which is a unix command, and it is how ofxVideoRecorder already works on linux and Mac OS. My guess is that, as a few people have commented over there, there is a synchronization issue. In fact I was getting the same issue when originally developing the audio+video feature for this addon. Perhaps windows pipes have a smaller buffer size b

[2015-05-07 01:40] DomAmato commented on #4
The problem is that it hangs when the second ConnectNamedPipe is called, changing the buffer size changed nothing. I also cant get it working on OSX. FFMpeg starts after the other threads so it never records anything. My guess is that ffmpeg only waits for the first pipe to connect so when it tries to connect the second pipe there is nothing listening and so it hangs. I think a solution might be t

[2015-05-07 05:48] DomAmato commented on #4
The above method worked. it required separate ffmpeg instances each listening to only 1 pipe. It now creates 2 temporary files and merges them afterwards. it doesnt automatically delete the files though. @liquidzym it should work now. I occasionally get avdelta warnings but i didn't notice anything out of sync. I can't say for longer recordings though.

[2015-05-07 07:47] liquidzym commented on #4
wow,thank you so much for this!
@DomAmato,i just tried it out,i got three files one is .m4v audio，but the audio file seems not recoding at all,another two video files,one i think should be the video&audio,since the audio file play nothing so still got sound missing,can i ask which version of the ffmpeg you're using?

did you got fully working v merged ideo with sound? also i set my devie as 2 whic

[2015-05-07 08:00] DomAmato commented on #4
I don't believe u can encode to mp3 which looks like what you are trying to do. By default it records to .m4a  so that it is an easy conversion to mp4. delete the line in the code that says .setaudiocodec(".mp3"). I would guess that is what is causing the problem. I tested it and both audio and video recorded and was in sync.

[2015-05-07 08:34] liquidzym commented on #4
@DomAmato,haha, its totally working now,got video&sound sync. for 30s, i'll test it for longer time. but for now i only need 30s.
thank you so much for the help!

[2015-05-14 10:27] Geistyp commented on #4
@DomAmato
Why add 1000ms to condition.wait function in your branch ? This will cause pause to timeout.
[code]

[2015-05-15 01:20] DomAmato commented on #4
I actually never tested that so I will do that now

[2015-05-15 03:25] DomAmato commented on #4
OK i fixed it. I also added a random number generation for the pipe naming so that you can have multiple instances.

[2015-05-15 19:00] timscaffidi commented on #4
@DomAmato as far as multiple instances goes, this was already supported. look at the requestPipeNumber and retirePipeNumber functions

[2015-05-15 19:13] DomAmato commented on #4
I know but i hadn't implemented it in my fork as i was just interested in getting it working. I did see the request and retire functions and ill give them a closer look

[2015-06-11 01:59] timscaffidi commented on #15
OF comes with an FBO example in the examples/gl/fboTrailsExample folder. If you need additional help with FBOs, make a topic in the OF forums and I'll be glad to look at it there.

[2015-06-11 01:59] #15 closed

[2015-07-01 14:53] smallfly opened #21 "audioPipeFd and videoPipeFd used in close() are never initialized."
In the close() methods there are calls to setNonblocking():
[code]
But it seems that the variables audioPipeFd and videoPipeFd are never initialized.
Should the calls the setNonblocking() be removed?

[2015-07-02 21:06] frauzufall opened #22 "Compile error with current OF version: 'Condition' in namespace 'Poco' does not name a type"
When I compile ofxVideoRecorder with the current OF git version, I get this error:

    ofxVideoRecorder/src/ofxVideoRecorder.h:65: error: 'Condition' in namespace 'Poco' does not name a type
     Poco::Condition condition;
     ^

Can you help? I really like this addon!

[2015-07-02 21:07] frauzufall commented on #22
I forgot to mention my system: Ubuntu 14.10, 64bit.

[2015-07-09 17:00] #22 closed

[2015-07-16 23:25] timscaffidi commented on #21
yes it appears those should be moved instead to be called in a function of the audio/video writer threads instead, since the file descriptors are no longer held by the main thread

[2015-07-19 04:32] smallfly commented on #21
I'm not sure I understand what you mean. Could give more details?

[2015-07-19 17:22] timscaffidi commented on #21
Since the file descriptors moved to the writer threads, the main thead can't see them, so these calls are not going to do what is intended anymore. However, if the audio/video thread classes could have a public method that calls setNonblocking on their internal file descriptors, these new functions could be invoked in the same place as the current calls.

[2015-07-19 19:39] smallfly commented on #21
ok I see. I can look in to that later. But what does that mean for the current version of the addon. Could these 'broken' calls be the source of issues at runtime?

[2015-07-21 00:25] timscaffidi commented on #21
They may have caused problems, but I haven't had time to adequately test. Thanks for the fix!

[2015-07-21 00:25] #21 closed

[2015-08-17 18:54] smallfly opened #27 "OF 0.9.0"
I have created a branch for OF 0.9.0: https://github.com/smallfly/ofxVideoRecorder/tree/0.9.0

Maybe you could create a 0.9.0 branch on your GitHub repo and I could create a PR for these small updates, or do you prefer to push these to the Master right away?

Cheers,

[2015-08-17 22:22] timscaffidi commented on #27
Are these changes backwards compatible with OF 0.8.4? If so then I say just submit a PR to master

[2015-08-18 00:36] smallfly commented on #27
They are not.

Sent from my iPhone

[2015-08-19 14:22] smallfly commented on #27
Would you be open to some 'house keeping'? I mean to make the add-on easier to read, and to follow a bit more the way other OF add-ons' code is formatted.

For example, adding 'separators' in between methods:
```//---------------------------------------- ```

Creating specific .h and .cpp for the ofxVideoDataWriterThread and ofxAudioDataWriterThread.

[2015-08-20 02:17] timscaffidi commented on #27
I've created a 0.9.0 branch. I think we can definitely do some cleanup and your suggestions make sense. Lets keep the cleanup out of master for now and then once OF0.9.0 is released I'll make a tag for 0.8.4 and merge 0.9.0 into master.

[2015-08-20 17:08] smallfly commented on #27
Great.

[2015-09-02 19:55] smallfly commented on #27
Hi,
I have just made the initial PR to make the add-on compatible with OF 0.9.0.

I will now start to do some housekeeping (as discussed). I will do it through several PRs in order make this process easy to follow.

[2015-09-04 05:29] rossanag opened #29 "Errors while recording, I can't build the file"
Hi, I've installed the addon, I have ffmpeg installed (the one from Ubuntu packages, Ubuntu 12.04 64 bits) since a while.
I can run ffmpeg commands from console and record the streaming from a webcam in this way:
*ffmpeg -f video4linux2 -r 25 -s 640x480 -i /dev/video0 out2.avi*

However when running the example I got these errors, so any file is built:

*"The video recorder failed to write some fr

[2015-09-05 02:07] timscaffidi commented on #29
Some common things to check would be making sure that your ffmpeg install supports encoding for the chosen audio and video codecs that you are trying to use. Run ```ffmpeg -codecs``` to see a list of codecs and their capabilities. Also ensure that the container format you are using is also included in your ffmpeg install by checking the out put of ```ffmpeg -formats```

I will need more informatio

[2015-09-05 02:27] timscaffidi commented on #29
I just noticed an issue that may have caused your problem: The bin/data folder did not exist in a fresh install, which would cause the video and audio pipes to not be created. I just fixed this on master so please re-pull and try it now. Let me know if this fixes your issue.

[2015-09-05 04:55] rossanag commented on #29
Hi thanks for your response :). I got the new version, same results and message.

![ofxvideorecorderoutput](https://cloud.githubusercontent.com/assets/1948071/9697720/a826ea9c-536f-11e5-8b41-c11db2ad7cfd.png)

I have the codecs needed (ffmpeg -codecs) and the container format it's included as well (ffmpeg -formats). Unfortunately I can't attach the output of these commands.
The news issue is that

[2015-09-05 22:23] timscaffidi commented on #29
By default the example app is set up to record video and audio. If you do not have a microphone configured, or it cannot open properly, you may get this error. Try to use the video only settings by commenting out line 95, and uncommenting line 96 of the example ofApp.cpp

[2015-09-06 05:06] rossanag commented on #29
Well it seems I am getting closer. It records an empty file, when I try to play it, I got this message
*This file contains no playable streams.*

It seems our line numbers don't match. Just in case
I commented out this:
//    vidRecorder.setup(fileName+ofGetTimestampString()+fileExt, vidGrabber.getWidth(), vidGrabber.getHeight(), 30, sampleRate, channels);

Then I uncommented this one:
         vi

[2015-09-07 11:55] CyrusSUEN opened #32 "How to setup for demuxing audio and srt file"
I have an image sequence to record with an audio mp3 file as the sound source.
So far I can record the image sequence with the mp3 playing in the background of the app and by using [WavTap](https://github.com/pje/WavTap) to hijack the audio stream on Mac OS X 10.10.

But this solution isn't elegant that I need to install WavTap to capture the audio given I do have a standalone mp3 file already.

[

[2015-09-07 20:09] rossanag commented on #29
Although I got it working with ffmpeg, I can recording video & audio, or just audio. I can't get the example working.

Just for the record:

**audio & video:**
*ffmpeg -f alsa -ac 2 -i default -itsoffset 00:00:00.5 -f video4linux2 -s 320x240 -r 25 -i /dev/video0 outaudui.mpg*

**audio:**
*ffmpeg -f alsa -ac 2 -i pulse -acodec libmp3lame -ab 96k outputk.mp3D
ffmpeg -f alsa -ac 2 -i pulse  -acodec p

[2015-09-07 20:10] #29 closed

[2015-09-09 00:45] timscaffidi commented on #32
Just to clarify: you have an existing image sequence that you want to mux with an existing audio file?

[2015-09-09 03:19] CyrusSUEN commented on #32
Yes. Is it possible?

[2015-09-09 18:55] timscaffidi commented on #32
I am curious why you would choose to write your own program to do this? You could use several existing programs to mux a pre-existing image sequence with a pre-existing soundtrack.

You should be able to accomplish this with just ffmpeg by itself.

[2015-09-09 19:46] CyrusSUEN commented on #32
I'm required to do so for an art installation.
Do you mean I can only deal with ffmpeg directly to accomplish this?

[2015-09-09 22:09] timscaffidi commented on #32
Yes, I am saying that ffmpeg can mux video and audio on its own. you shouldn't need to write a custom program to do this. This should get you started: https://en.wikibooks.org/wiki/FFMPEG_An_Intermediate_Guide/image_sequence#Making_a_video_from_an_Image_Sequence

[2015-09-11 15:01] timscaffidi commented on #32
I'm going to close this issue as it doesn't apply to this addon specifically. There is a more general issue for openFrameworks in that there is no good way to get access to a "master" channel of audio being generated by the app. You can access audio data that is manually generated using ofSoundStream, AFAIK there is no easy way to get access to the audio samples that are generated from ofSoundPlay

[2015-09-11 15:01] #32 closed

[2015-09-11 15:05] CyrusSUEN commented on #32
OK. And thank you so much for your help!

[2015-09-11 15:09] benjgorman commented on #32
@CyrusSUEN Sorry I know this is closed but https://github.com/YCAMInterlab/ofxTimeline may be able to help you. I have used this addon and timeline to produce composited videos automatically. You can take any of the timeline tracks and merge them with frames and then save it all to a video.

[2015-09-11 15:56] CyrusSUEN commented on #32
Thanks @benjgorman! I will give it a try.

[2015-09-11 18:54] timscaffidi commented on #32
Muxing an image sequence with an mp3 in ffmpeg can be done with a one liner that should be something like this:
[code]
This will take an image sequence with a naming scheme of ```path/to/input_#####.jpg``` and produce an mp4 file. This should be a lot quicker and more robust than writing a custom solution.

That being said, if you need some custom processing, then writing your own program is proba

[2015-09-13 08:08] CyrusSUEN commented on #32
Thanks @timscaffidi ! But I need to do it programmatically because I need some custom processing.

[2015-11-07 17:36] smallfly commented on #27
Hi,

Should we rename the '0.9.0' branch 'master', and add a tag for the version of the add-on compatible with OF 0.8.4 (or even rename 'master' to '0.8.4')?

[2015-11-08 05:25] timscaffidi commented on #27
Once 0.9.0 is officially released, I will tag the current master as 0.8.4, then merge 0.9.0 into master, and delete the 0.9.0 branch.

[2015-11-09 18:16] smallfly commented on #27
Great! And I'm sure you saw that 0.9.0 has been released.

[2015-11-10 00:00] timscaffidi commented on #27
oh yeah I just wasn't sure it was official yet because when I wrote that the download page still had 0.8.4

[2015-11-10 00:08] timscaffidi commented on #27
Ok, merged 0.9.0 into master!

[2015-11-10 00:08] #27 closed

[2015-11-10 00:45] smallfly commented on #27
Thanks!
I'm planning to do some work on the addon to take advantage of some of OF 0.9.0's new features (i.e. threading)

Sent from my iPhone

[2015-11-18 14:27] razvanilin commented on #4
Any updates on this issue?

@DomAmato I tried the code in your fork and I can't get it to work. It crashes when I create a simple example using the example code in your fork. If integrate it in my project, I get a file not found on the pipe name.

Seems like there are not so many alternatives to recording a video on windows

[2015-11-18 17:49] DomAmato commented on #4
Can you tell me what error you get and on what line it crashes. My fork should work. The file not found is probably referring to the location of the compiled ffmpeg application, where do you have that installed?

[2016-03-02 23:33] samelie commented on #15
Hi Tim, the addon works great with the videoGrabber, I have been struggling to get it recording from an FBO. This is what I get: [gif](http://gph.is/1RpIEUS)

I'm modding the example _trails_ you mentioned.
I allocate by ofPixels like so `fboPix.allocate(640,480,OF_PIXELS_RGBA)`
Then I do:
`rgbaFbo.readToPixels(fboPix);
vidRecorder.addFrame(fboPix);`

I've made sure the videoRecorder.setup width/h

[2016-03-02 23:42] kritzikratzi commented on #15
@samelie you should probably create a new bug. this seems non related.
anyways, try rgb, instead of rgba!

[2016-03-04 03:09] timscaffidi commented on #15
@samelie , I believe @kritzikratzi is correct. Using RGBA for the FBO will not work because the video grabber is expecting RGB. The resulting gif you posted looks so strange because because you are sending 4 byte per pixel, and the video grabber is expecting 3.

[2016-03-04 09:52] samelie commented on #15
`fbo.readToPixels(fboPixels);
    for (int i = 0; i < fboWidth * fboHeight; i++) {
        int pix = i * 4;
        int pixRgb = i * 3;
        int r = fboPixels[pix];
        int g = fboPixels[pix + 1];
        int b = fboPixels[pix + 2];
        recorderPixels[pixRgb] = r;
        recorderPixels[pixRgb + 1] = g;
        recorderPixels[pixRgb + 2] = b;
    }
    if (bRecording) {
        bool suc

[2016-03-14 16:08] adielfernandez opened #36 "Support directories with spaces"
Hey Tim,

Thanks for putting together this addon. It's just what I need. I'm getting an error I can't find my way around. I've disabled all audio, which got rid of some of the errors except the Bad File Descriptor error. This is the output I get:

[code]

The disordered text is pasted as is. I'm guessing both the main and secondary threads are printing to console at once.

Secondary question: I ne

[2016-03-15 13:15] timscaffidi commented on #36
Hi,
The bad file descriptor seems like exactly that, given the line: 'bash: VC/ofx_v0.9.1/examples/video/ofxVideoRecorderExample/bin/data/ofxvrpipe0: No such file or directory'.

Ensure that the bin/data folder exists and is writable. The addon will not automatically create a data folder inside of bin, so this may be your problem.

As far as multiple instances, there is nothing technically stoppin

[2016-03-16 04:16] adielfernandez commented on #36
Hey Tim,

My data folder was there. Weirdly enough, the "no such file..." error came from there being a space in a folder name about 3 levels above even the OF root folder. I wouldn't have expected something so seemingly far removed from the project folder to be an issue. To anyone else with this issue: make sure there are no spaces in your folder names AND be aware that you may have to re-create

[2016-03-16 14:42] timscaffidi commented on #36
@adielfernandez I'm glad you were able to come to a work around on this issue, I'm reopening this to keep track of this bug though. Should be simple enough to fix. Thanks for getting to the bottom of this!

[2016-04-13 11:56] hascheidl commented on #4
Hello @DomAmato ! I was able to compile and run your version, however with small modifications, so that in every place you refer to a file path, I added double quotes. This should take care of issues with spaces in the file path.

Another change is that ffmpeg location expects not the "bin" folder, but the complete file path of the ffmpeg.exe file (my Path includes only c:\ffmpeg\bin").

[2016-04-13 21:46] DomAmato commented on #4
Are you talking about changes made to the example or to the code in the addon source? you alter the path to wherever your ffmpeg version is installed which can include the data folder from OF so long as ffmpeg.exe exists in that location.

[2016-04-17 15:00] medulla opened #37 ""Invalid argument" while recording from camera"
Hi,

Thanks for this addon. I've been trying to use this to record video from an USB camera. In a first run, I can generate a .mp4 file successfully, but when I try to record a second time, I get an error similar to this:

"\\.\pipe\videoPipe776: Invalid argument"

The second .mp4 file never wraps up. I suspect the recording pipe is not being closed properly, but I'm not sure why. Any hints on thi

[2016-04-21 15:26] stephanschulz opened #38 "audio bNotifyError even when no Audio is initialized"
great addon, thanks for making it.

even when i setup the recorder to no use audio like so ```vidRecorder.setup(_name+fileExt,_w,_h, 24);``` the code still print this error:
[warning] The video recorder failed to write some audio samples!:

[2016-04-21 19:27] timscaffidi commented on #37
Windows is not supported yet in the mainline. However there is an experimental fork by @DomAmato. Please see #4

[2016-04-21 19:27] #37 closed

[2016-04-21 19:28] timscaffidi commented on #38
Thanks for the bug report, I will look into it soon.

[2016-04-27 09:12] aisgirish opened #39 "Bad file descriptor"
Hi,
I just create new iOS project with ofxVideoRecorder add ons.
I copied code from ofApp.cpp & ofApp.h.

When I run this project it give me following error.

[code]
It can prompt for permission of Camera and Microphone. But not recording video.
Please help. Thanks in advance.

[2016-04-28 03:16] timscaffidi commented on #39
Hi,
Thanks for the bug report! I have never tested this addon with iOS so I cannot say if it will work or not. I am not very familiar with iOS development in general so I can only guess as to what the problem may be. This addon performs many actions via system() calls which rely on unix commands. It may be that some of these commands are not supported on iOS.

I do not have access to an iOS device

[2016-04-28 06:01] aisgirish commented on #39
Thanks for reply,
Now, I use ofxiOSVideoWriter for capture screen and store to gallery.

[2016-04-30 15:43] timscaffidi commented on #38
If you run the included example, and use the no audio setup call  by commenting out line 105 and uncommenting line 106, do you still get the error?

[2016-05-01 00:22] timscaffidi commented on #36
I've started looking into this. Apparently OF has problems even compiling when there are spaces in a containing directory. However I was able to replicate this issue by compiling and then renaming the containing folder to have a space, then running the executable.

I've tried a few things to fix this issue to no avail so far but I will continue to poke at it.

[2016-05-02 05:51] MenLonII opened #40 "App OF submitted to the problems encountered in Mac Store"
My App contains ofxVideoRecoder, When I submitted app, I had a problem, I would like to ask how to solve?
![2016-05-01 10 50 52 pm](https://cloud.githubusercontent.com/assets/17019773/14947911/ef7336f2-106c-11e6-8a0a-492e849d1698.png)

[2016-05-02 10:12] #40 closed

[2016-05-03 06:37] MenLonII opened #41 "What the problem is ?"
[warning] ofQTKitGrabber: setDesiredFrameRate(): cannot set framerate for QTKitGrabber
[verbose] ofQTKitGrabber: attached video device: FaceTime HD Camera
[verbose] ofQTKitGrabber: starting video session
mkfifo: /Users/xxxxxx/Desktop/OF/Mac/of_v0.9.1_osx_release: File exists
mkfifo: 2/apps/myApps/1_recorder/bin/data/ofxvrpipe0: No such file or directory
mkfifo: /Users/xxxxxx/Desktop/OF/Mac/of_v0.9

[2016-05-03 12:51] timscaffidi commented on #41
It looks like you have a space in your containing directory 'of_v0.9.1_osx_release 2'

See issue #36

[2016-05-11 16:21] stephanschulz commented on #38
i thought i did that already. but now i am not so sure since the specific message stopped appearing.
thank you very much for your suggestion.

[2016-05-11 16:24] stephanschulz opened #42 "write to PIPE failed with error -> 32 - Broken pipe"
i have been using your addon for a while now. and it works very well.
i have 4 separate OF apps running at the same time, all using the recorder.

things work well but once in a while i get

[code]

would you know why?

here is what the print out usually looks like when the recording works correctly:
https://gist.github.com/stephanschulz/471cdec81855ea5f122278b9e03b23df

and here when xcode crashe

[2016-05-12 02:48] timscaffidi commented on #42
Hmm,  the broken pipe may be happening if the ffmpeg instance has not started in time before the video or audio pipes start writing to it.

I think there needs to be an initialized flag that is set on the ffmpeg thread somehow after the command is started, then only when the ffmpeg thread is really up and running should the recorder allow you to add frames.

As a work-around, you may be able to ad

[2016-05-12 02:49] #41 closed

[2016-05-12 03:59] timscaffidi commented on #42
@stephanschulz can you test out the branch [bugfix-42](https://github.com/timscaffidi/ofxVideoRecorder/tree/bugfix-42)?
I added in a sleep to wait until the ffmpeg thread is running before starting the audio or video threads.

I could not replicate the issue so if you could test it out that would be great.

[2016-05-12 12:42] stephanschulz commented on #42
great thanks.
just installed the new addon.
since this error does not happened all the time i will report back later, if or when it happens.

[2016-05-13 20:23] stephanschulz commented on #38
it has been running for the last 1-2 days.
so i guess your fix worked.

thanks a bunch

[2016-05-14 00:54] timscaffidi commented on #38
Ok great, I'll merge this branch into master and close the ticket

[2016-05-14 00:54] #42 closed

[2016-06-06 20:00] JobLeonard opened #44 "For some reason, Ubuntu no longer switches threads for me..."
Basically, the addon *used* to work perfectly, then it suddenly stopped working (without me changing any code anywhere). Now, ffmpeg no longer starts to encode until *after* I try to close the program, so all my files end up being empty. This is the output of compiling and running the `ofxVideoRecorderExample` code:

[code]

[2016-06-08 03:20] timscaffidi commented on #44
Hey thanks for the bug report.

What version of OF and Ubuntu are you on? Are you using the latest master branch of ofxVideoRecorder or an older release?

[2016-06-09 09:13] JobLeonard commented on #44
Hey, thanks for the reply

Also, I apologise for being ambiguous before: when I said "without changing code", I meant not changing OF versions or getting new versions of ofxVideoRecorder! The bug was introduced somewhere between 14.10 and 15.04, when I decided to revisit some old code. Since I had just done a rewrite of my own code, and `OF` and `ofxVidRec` were the same, I figured that was the pa

[2016-06-23 10:51] mhellar opened #45 "Can I record OF output"
Can I record my OFwindow with this?

I love the addon it is great!

[2016-06-25 00:14] timscaffidi commented on #45
I'm not sure what you mean by OFwindow, but you can record whatever you want so long as you provide the pixels. This addon is agnostic to how the pixels are obtained so that is left as an exercise for the user.

[2016-06-25 00:15] timscaffidi commented on #44
I have not yet upgraded to 16.04 but I plan to do so soon. I will run some tests once I upgrade and see what I can find.

[2016-06-25 09:50] JobLeonard commented on #44
What version are you on? I could try running it off a USB stick and see if my program miraculously starts working again.

[2016-06-28 15:37] timscaffidi commented on #44
I'm on ubuntu 15.04 LTS.

I have noticed that sometimes ffmpeg will wait a few seconds before it starts doing anything, so if your videos are very short then it may not have had time to start encoding.

[2016-06-28 16:09] JobLeonard commented on #44
Ok, I'll see if I can find a spare USB stick and run the program from that.

And I doubt that's the issue: the movies are very long. Or at least, the process to encode them takes  very long, because I'm loading in 4GB worth of full HD frames into an array and then encode images extracted from the generated volume. It's the kind of thing where it easily takes a few hours to render a movie of only a

[2016-08-02 06:40] elbaro opened #46 "Add no audio option"
One can disable the audio encoding with `-an` option.

[code]

[2016-08-02 06:53] elbaro commented on #46
Sorry, it seems this is already supported by setting # channels to 0 or using custom setup function.

[2016-08-02 06:53] #46 closed

[2016-08-08 20:29] stephanschulz opened #47 "pixelFormat = "rgba""
hello
i am on OS X 10.10 with of 0.9.3.
i am trying to record a video with alpha and set pixelFormat = "rgba" but the resulting .mov file still has a black background.

i am creating a FBO with GL_RGBA, which draws fine with it's transparencies.
i pass the FBO pixels in to the addon and also check that the pixels still have 4 channels.

[code]

here is the console print out:

[code]

[2016-08-14 17:14] timscaffidi commented on #47
If I remember correctly, this add-on only supports grayscale or RGB. I have
not implemented RGBA yet.

On Mon, Aug 8, 2016, 4:29 PM stephanschulz <notifications@github.com> wrote:

[2016-08-17 22:47] microcosm commented on #36
I had the same problem on OSX. I was using Google Drive, which by default gives you a working folder with a space in it. I followed [these instructions](https://productforums.google.com/forum/#!topic/drive/Ms8STaowiYw) to change it. Everything working now.

Also, I [used homebrew to install ffmpeg](https://github.com/fluent-ffmpeg/node-fluent-ffmpeg/wiki/Installing-ffmpeg-on-Mac-OS-X) - might be a

[2016-11-10 14:47] #36 closed

[2016-11-26 15:36] fransschreuder opened #51 "No audio on Windows using branch osx-and-win"
Hello,

I am trying to get ofxVideoRecorder to work in Windows (works great on Ubuntu).
I am using the branch [osx-and-win](https://github.com/local-projects/ofxVideoRecorder/tree/feature/osx-and-win) which has no issue tracker.

The application output looks ok to me though... any ideas? Thanks
edit:
There seems to be some sound in the video, but I am only getting a little zap sound in the first f

[2016-11-26 16:12] fransschreuder commented on #51
@galsasson committed to the mentioned branch, but he has no bug tracker

[2016-11-26 16:54] fransschreuder commented on #51
Here is the resulting audio (m4a) file.
[movie2016-11-26-16-16-06-576.mp4_atemp.zip](https://github.com/timscaffidi/ofxVideoRecorder/files/614344/movie2016-11-26-16-16-06-576.mp4_atemp.zip)

[2016-11-28 03:20] galsasson commented on #51
Hi @fransschreuder,

osx-and-win, except working on both mac and windows (apparently only video), is a terrible branch. It is basically a copy of almost the entire code with one version working on windows and one on mac with a giant #ifdef.
I didn't need sound so I'm not sure whats going on. One thing I did add is the option to separate input and output color spaces so you can ask for a yuv420 as

[2016-11-29 07:34] fransschreuder commented on #51
Hi @galsasson, thanks for your quick reply. I agree that this is not a final solution, but I don't think it's a terrible thing to do; this #ifdef. Later when everything works you can use a diff tool to merge the two parts, but for now you make sure you don't break the linux code.
I will be awaiting your changes, however before your input / output color format commit I also didn't get audio.
Anyway

[2016-12-08 20:39] timscaffidi commented on #51
Closing as a duplicate of #16

[2016-12-08 20:39] #51 closed

[2016-12-15 02:26] aferriss commented on #42
FWIW I noticed that I get this error when I put a bad video codec in setVideoCodec. For instance 'mpeg' doesn't work, while 'mpeg4' does.

[2016-12-22 12:15] fransschreuder commented on #44
I am getting exactly the same output on Ubuntu 16.04, the video files end up being something like 200 bytes.
I think I will try an older version of Ubuntu and see whether it runs there.
(of 0.9.4, ofxVideoRecorder HEAD)

[2016-12-22 15:08] timscaffidi commented on #44
I have since upgraded to 16.04 and I have tested the current HEAD with 0.9.4, and I have not seen this issue yet. It could have something to do with the version of ffmpeg as well.

[2016-12-22 15:46] fransschreuder commented on #44
The funny thing is that it worked for me on an upgraded 16.04, but not on a
clean 16.04 installation

Op 22 dec. 2016 16:08 schreef "Timothy Scaffidi" <notifications@github.com>:

I have since upgraded to 16.04 and I have tested the current HEAD with
0.9.4, and I have not seen this issue yet. It could have something to do
with the version of ffmpeg as well.

—
You are receiving this because you co

[2016-12-24 14:46] fransschreuder commented on #44
I tried on Ubuntu 14.04 (same computer, clean install) but I had to install ffmpeg from the PPA as 14.04 has no native ffmpeg in the repo. I got the same problem there though, I guess it's an ffmpeg version issue.

[2016-12-24 21:31] fransschreuder commented on #44
Here is the complete output of the application using Ubuntu 16.04, ffmpeg 3.2.2
[code]

[2016-12-24 22:28] fransschreuder opened #52 "c930"

[2017-01-19 21:41] stephanschulz commented on #47
can you please point me in the right direction on how to add this option to your code.
thank a bunch

[2017-01-20 03:14] timscaffidi commented on #47
Actually, It looks like you should be able to do this by calling both setPixelFormat("rgba") and setOutputPixelFormat("rgba").

[2017-01-20 13:52] stephanschulz commented on #47
correct, setPixelFormat("rgba") needs to be set.
the mpeg4 codec did not produce a successful RGBA file.
but using these codes and file extensions did: http://stackoverflow.com/a/12951156
vidRecorder.setVideoCodec("qtrle"); //"mpeg4"); //"huffyuv"); //"ffvhuff");

[2017-01-20 17:05] stephanschulz commented on #47
ok this worked:
[code]

[2017-01-20 17:07] timscaffidi commented on #47
Great! I'm glad t worked out.

[2017-01-20 17:07] #47 closed

[2017-01-21 02:38] stephanschulz commented on #47
strange thing is. when using rgba i get this in this message in the console, which makes it look like i should change rgba for yuva444p10le.

[code]
but if i do that and set vidRecorder.setPixelFormat("yuva444p10le");

a call to vidRecorder.setPixelFormat.stop() does not work and keeps writing frames and i see this in the console.
[code]

[2017-02-23 18:58] JobLeonard commented on #44
Ok, a new year, a new attempt. Still not working. I used [SimpleScreenRecorder](http://www.maartenbaert.be/simplescreenrecorder/)) to capture the screencast, maybe it shows you more useful information that I would miss:

https://www.youtube.com/watch?v=Ho4TISFpo14

Could this be a bug in Poco certain versions of Ubuntu specifically?

[2017-02-26 21:53] JobLeonard commented on #44
So to test the I downloaded `ffmpeg-2.8.11` and `ffmpeg-1.2.12`, built them, and checked if using those instead of the version I had installed (`ffmpeg-3.0.7-0ubuntu0.16.10.1`) would make a difference. It doesn't.

This *has* to be a threading bug, somehow; ffmpeg consistently starts the moment the pipes are *closed!*

The question is if the cause of this bug is inside ofxVideoRecorder, openFramew

[2017-02-27 05:04] timscaffidi commented on #44
@JobLeonard just tested again on ubuntu 16.04, OF 0.9.8, and ffmpeg 2.8.11. Again it works as expected for me, so I am at a loss. Feel free to post on the forums about this because I am not sure how else to troubleshoot at this point.

[code]

[2017-03-08 15:04] pierrep opened #54 "Ambiguous function name + example needed"
Please rename setPixelFormat to setPixelInputFormat. This makes things a lot clearer imo.

Also please add an h264 .mp4 example...it's a very common target. Thanks!

e.g.
    fileExt = ".mp4";
    vidRecorder.setVideoCodec("libx264");
   vidRecord.setPixelOutputFormat("yuv420p");

[2017-03-08 16:46] tim-depthkit commented on #54
Hello @pierrep ! Thanks for submitting the issue. If you have time to implement these requests, I'd gladly accept the pull request. I would say that setPixelFormat should stick around as a deprecated method for now to maintain backwards compatibility. It can just forward on to setPixelInputFormat

[2017-04-12 19:04] emmanuelgeoffray commented on #44
I get the same issue with ubuntu 16.04, oF 0.9.8, ffmpeg 3.2
Did you find a solution @JobLeonard ?

[2017-04-13 08:46] JobLeonard commented on #44
Oh, I never mentioned this here, I'm sorry, but I got it to "work" _if I turned the audio off_. That is, requested a videostream only

Now that I think about it, didn't Ubuntu switch from ALSA to PulseAudio? Could that be related?

[2017-04-16 15:10] emmanuelgeoffray commented on #44
thanks for the reply @JobLeonard !

[2017-04-16 15:25] JobLeonard commented on #44
Did it also fix your problem? Because then we can safely point to the audio as the culprit somehow

[2017-04-18 02:08] timscaffidi commented on #44
If I had to guess, the reason that turning off audio works is because there is then only a single pipe into the ffmpeg process. If you open both audio and video pipes, ffmpeg will only read from the audio pipe if sufficient video frames have been read, and vice-versa. Thus, there must be some reason why ffmpeg cannot read from one of the pipes and is stuck waiting for more data. I have seen cases

[2017-04-18 16:54] JobLeonard commented on #44
Would muting the mic affect it?

[2017-04-28 07:42] yutatoga opened #55 "can not open the recorded video file in recordingComplete function"
[code]

console says

Do you know why I can't load the file there?

[2017-05-02 03:47] timscaffidi commented on #55
Have you verified that the file exists and is playable? I'm sorry there is not much information for me to go on.

[2017-05-10 08:54] yutatoga commented on #55
Yes, the file exists and it is playable.
I uploaded my codes [here](https://github.com/yutatoga/ofxVideoRecorderIssue55
) to show this issue. Can you build it and check if the same error happen on your environment?

This is the step to see the issue

1. run the app
2. type 'r' key and then 'c' key
3. You can see `player->load(args.fileName);` makes the error  that is "error loading asset tracks: C

[2017-05-11 02:07] timscaffidi commented on #55
Just tested your example, and it works.

Ubuntu 16.04
gcc 5.4.0
oF 0.9.8

[2017-05-11 02:26] yutatoga commented on #55
Do you mean it works without any error message which you can see on the console? In my case the app works without crash but many error message: "error loading asset tracks: Cannot Open".

If it works without error on your environment, this issue may happen only on Mac, I guess the video file is still not ready to read in recordingComplete function.

[2017-05-12 02:09] timscaffidi commented on #55
I get a gstreamer error, but the video plays back just fine anyway.

[code]

[2017-05-15 07:36] yutatoga commented on #55
The error "error loading asset tracks: Cannot Open" was printed in 188 line of ofAVFoundationVideoPlayer.m
`NSLog(@"error loading asset tracks: %@", [error localizedDescription]);`

So I added the codes below to check more detail of the error

[code]
then these are printed out on the console
[code]
[code]
I'm still trying to find out the problem but just shared the error messages for now.

[2017-08-14 22:09] gu-ma opened #56 "Video recording issue - scrambled images"
Not sure if this is a issue related to ofxVideoRecorder or to ffmpeg itself.

I'm using ofxVideoRecorder in a project and I'm having some strange issues. When I start running the application everything is fine and all videos are recorded perfectly but after some time some of the vids are completely scrambled, like that:

![image](https://user-images.githubusercontent.com/4388440/29294020-a03fb2e2-

[2017-08-17 00:09] vanderlin opened #57 "Files not being saved"
Not working in version OF 0.9.8 running osx 10.12.6

Files being saved are giving me this.
![image](https://user-images.githubusercontent.com/149997/29390457-7f7aa018-82be-11e7-94cc-d21b6e3c7268.png)

ffmpeg output
[code]
OF output not data written...

any thoughts?

[2017-08-17 00:55] vanderlin commented on #57
never mind was an audio issue.

[2017-08-17 00:55] #57 closed, assigned to nobody

[2017-09-27 02:20] aldo-canedo opened #58 "Problems saving in a specific folder"
Hello,

I'm having problems to save my file in a specific folder, any suggestion?

Here's the code:

    if(key=='r'){
        bRecording = !bRecording;
        if(bRecording && !vidRecorder.isInitialized()) {

           vidRecorder.setupCustomOutput(vidGrabber.getWidth(), vidGrabber.getWidth(), 30,"/Users/usuario/Google Drive/test.mov");

            vidRecorder.start();
        }

Hope you can

[2017-09-27 13:05] timscaffidi commented on #58
The only thing I can think of at the moment is that there is a space in the path from "Google Drive". However, I thought this issue had been fixed.
Can you help test this out?
1. Does it work if you use a path without a space in it?
2. Does it work if you use a different path that *does* have a space in it?

[2017-09-28 00:37] aldo-canedo commented on #58
Thanks @timscaffidi, it works when I use a different path but the video its corrupted, the same video captured in the example version works perfectly.

Here's my new path:

       vidRecorder.setupCustomOutput(vidGrabber.getWidth(), vidGrabber.getWidth(), 30,"/Users/aldo/Documents/test.mov");

and the console prints this message:

T[he vreecoded video file isr bnoow scomplete.e
] ofxVideoDataWrite

[2017-09-28 02:32] timscaffidi commented on #58
@aldo-canedo, using `setupCustomOutput()` is a more advanced way to use the recorder, usually reserved for things like network streaming. This method assumes you pass all of the options necessary to ffmpeg for output, not just the output path.  I would recommend using the simpler `setup()` method in combination with `setVideoCodec()` and its ilk.

[2017-10-05 20:56] aldo-canedo commented on #58
Works perfect!! thanks so much for your help.

[2017-11-08 01:04] #58 closed, assigned to nobody

[2018-04-24 21:36] axolotl-logic opened #60 "Audio recording: system exception: cannot lock mutex"
I have an application where I read a video file with ofVideoPlayer (presumably AVFoundation), apply effects to it, and write each frame to ofxVideoRecorder. However, I'm having difficulty figuring out how exactly to pipe in the audio. I read the example source code, but that's getting it from a device and not from the videoplayer and I'm not sure how to bridge that gap.

Where I am currently is ge

[2018-05-25 19:37] natxopedreira commented on #4
Im using @DomAmato repo for record a ofApp on win 10 and is working great, thank you!!

But i want to know if is possible to get a callback or a flag somewhere to know when the creation of the video has ended ??... like the linux version one does.

[2018-05-25 20:05] DomAmato commented on #4
There are so many forks now I don't even know the state anymore for windows. Maybe @razvanilin might have an idea? it looks like they extended the work I was doing but it should be possible to have an event once the video is done.

[2018-05-25 22:36] natxopedreira commented on #4
Thanks, lets see if he knows about and also will be nice to know which fork is the good one for windows..

[2018-05-27 12:51] razvanilin commented on #4
Unfortunately, I didn't extend the addon more than just adjusted it to work for both MacOS and Windows. Like @DomAmato said, it's definitely possible to create some sort of event that fires when the video creation ends. You can also have a look at `ffprobe` which reads the metadata of the video.

[2018-05-27 19:27] natxopedreira commented on #4
Thanks, its a good idea!! i will try using ffprobe to check the video before send an event

[2018-11-01 20:36] teganscott opened #61 "Support for OF 0.10.0"
Hello,

Is there support planned for OpenFrameworks 0.10.0? Getting the error of "Poco/Condition.h' file not found" in the example but do not get in OF 9.8

Thank you,

Tegan

[2018-11-01 20:54] teganscott commented on #61
If anyone else has this issue the addon ofxPoco needs to be included in the makefile

[2018-11-01 20:54] #61 closed, assigned to nobody

[2018-11-13 21:30] moebiussurfing opened #62 "Windows VS2017, 0.10 master branch, added Poco but error about <unistd.h>"
hey, I added Poco with Project Generator and
#include "ofxXmlPoco.h"

[code]

[2018-11-13 21:32] moebiussurfing commented on #61
hey @teganscott , I tried this solution but i am getting this:

not found <unistd.h
https://github.com/timscaffidi/ofxVideoRecorder/issues/62

I what something to record my 3D render with good performance... Any alternative advice is welcome

[2018-11-21 15:58] teganscott commented on #61
@moebiussurfing I tried it again with the stable release of OF 10.0 and don't seem to have that problem. Do you have ffmeg installed as described in the Readme?

In the end I decided to save each individual frame as an image because that fit better with my project's needs. If you are still having issues, you could try that and then composite the images together into a video.

[2018-12-21 02:51] BenBergman commented on #62
I am experiencing the same issue on Windows 10 with VS2017. It works fine for me on macOS with Xcode 10. I have ffmpeg added to my path (running `ffmpeg --version` from a cmd prompt gets a proper version number for the version I have installed).

[2018-12-21 18:23] moebiussurfing commented on #62
finally I used this on windows: https://forum.openframeworks.cc/t/screenrecording/7090/18?u=moebiussurfing
 ofxFastFboReader with ofxFFmpegRecorder from Nick repos

[2019-09-21 11:20] opheliagame opened #64 "Trying to use this addon"
I keep getting the error `‘ofxVideoRecorder’ does not name a type`. I have updated the project, placed the addon in the correct directory. Should I be including the header file in `ofApp.h` and if yes then how would it find the file during make?

[2020-09-26 09:13] pandevim commented on #4
What is the status of this issue in 2020?

[2021-02-04 15:42] stephanschulz commented on #56
I see the same problem.
have you ever figured out why this happens?

[2021-02-04 17:04] gu-ma commented on #56
Hum, that was a long time ago, I don't really remember...
I think the problem came from the video codec I tried different ones at the end. Some were working better than others.

[2021-02-04 17:12] stephanschulz commented on #56
thanks for the reply.
for me to it works 90% of the time.
after rebooting the computer it's ok again.

I am using:
VideoCodec: libx264
VideoBitrate: 2000k
PixelFormat: rgb24
OutputPixelFormat: yuv420p

[2021-02-05 20:47] gu-ma commented on #56
Yes, It was also working fine at the beginning and getting bad after some time.

I was also fiddling with some of those settings... Can't recall which ones ended up working the best though 🤷‍♂️

[2021-05-07 16:24] ofZach opened #68 "ofxVideoRecorder seems to fail when the path to app (and ffmpeg) has spaces in it"
I noticed a couple of issues -- it's all a little hazy but some notes if helpful

a) open(...) used to get the file handle for the pipes, seems unhappy when the path has spaces
b) the commands for ffmpeg seem unhappy when there is spaces in the path to ffmpeg

about (a) I am not 100% certain but I think it's an issue.
the solution for me for (a) was to use a relative path without spaces -- since I

[2021-05-07 16:25] ofZach commented on #68
(ps: what a great add-on.  ridiculously helpful...)

[2021-05-11 14:57] timscaffidi commented on #68
Hi Zach!

Thanks for the bug report. There have been issues in the past with spaces in filenames, and ffmpeg seems to be extra finicky in that regard. I'll take a look soon, and happy to accept a PR if you're able to pin it down in the meantime.

[2022-08-21 17:23] ezequielleonzybert commented on #64
is this addon still working on openFrameworks 2022 version?